*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.8)), 
                url(img/hot.jpg) center/cover;
}

.weather{
    width: 350px;
    background: url(img/hot.jpg) no-repeat center/cover;
    border-radius: 15px;
    padding: 20px 30px;
}

.search{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 0 15px 0 15px;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 4px rgba(0,0,0,0.3);
    font-size: 16px;
}
.search:focus{
    border-radius: 15px 0 15px 0;
    background: rgba(255, 255, 255, 0.8);
}

.content{
    text-align: center;
    color: white;
    margin: 50px 0;
    transition: 0.4s;
}

.capital{
    text-shadow: 2px 2px black;
}

.time{
    font-size: 15px;
    margin: 15px 0 20px 0;
    text-shadow: 2px 2px rgba(0,0,0, 0.7);
}

.nhietdo{
    text-shadow: 3px 3px black;
    font-size: 60px;
    background:rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 4px 4px rgba(0,0,0, 0.3);
    margin: 0 50px;
    padding: 10px;
}

.trangthai{
    font-size: 40px;
    font-weight: bold;
    margin: 20px;    
    text-shadow: 3px 3px rgba(0,0,0, 0.5);
}
.thongtin{
    display: flex;
    justify-content: space-between;
}
.thongtin div{
    display: flex;
    flex-direction: column;
}
.thongtin div i{
    margin: 5px 0;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.cool{
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.8)), 
    url(img/winter2.jpg) center/cover;
}
.cool .weather{
    background: url(img/winter2.jpg) no-repeat center/cover;
}

.hot{
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.8)), 
    url(img/hot.jpg) center/cover;
}
.hot .weather{
    background: url(img/hot.jpg) no-repeat center/cover;
}

.warm{
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.8)), 
    url(img/normal.jpg) center/cover;
}
.warm .weather{
    background: url(img/normal.jpg) no-repeat center/cover;
}